* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
button,
legend {
  font-family: "Staatliches", cursive;
  font-weight: 400;
}

body,
input {
  background: #e5e5e5;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 436px;

  top: 0;
  left: 0;
  z-index: -1;
  background-color: #535971;
}

.page {
  width: 750px;
  margin: 0 auto;
  padding: 140px 0 0 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header {
  color: #ffffff;
}

header h1 {
  font-size: 48px;

  margin-bottom: 18px;
}

header p {
  font-size: 20px;
  line-height: 30px;

  margin-bottom: 50px;
}

form {
  width: 750px;
  padding: 64px;

  background: #ffffff;
  border-radius: 20px 20px 0px 0px;

  display: flex;
  flex-direction: column;
  gap: 22px;
}

form fieldset {
  border: 0;
}

legend {
  font-size: 24px;
  line-height: 34px;

  color: #535971;

  padding-bottom: 8px;
  border-bottom: 1px solid #e6e6f0;

  margin-bottom: 32px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;

  font-size: 14px;
  line-height: 24px;
  color: #4e4958;

  margin-bottom: 16px;
}

.input-wrapper label span {
  font-size: 12px;
  line-height: 20px;
  color: #c1bccc;
  margin-left: 8px;
  transition: 0.4s color;
}

.input-wrapper label span:hover {
  color: #000000;
}

#name-surname {
  display: flex;
  gap: 22px;
}

#name-surname .input-wrapper {
  width: 50%;
}

.input-wrapper input {
  width: 100%;
  height: 56px;
  background: #fafafc;

  border: 1px solid #e6e6f0;
  box-sizing: border-box;
  border-radius: 8px;

  padding: 0 24px;
}

.legend-date {
  font-size: 20px;
  line-height: 34px;

  border: 0;
  margin: 0;

}

.col-3 {
  display: flex;
  gap: 10px;
}

.col-3 > div {
  width: 140px;
}

.col-3 > div:nth-child(1) {
  width: 300px;
  margin-right: 22px;
}

footer {
  width: 100%;
  height: 160px;
  background-color: #535971;
  border-radius: 0 0 20px 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 360px;
}

footer button {
  font-size: 20px;
  color: #ffffff;

  border: 0;
  border-radius: 20px;

  margin: 52px 70px;
  padding: 15px 280px;

  background-color: #ff5374;
  transition: 0.5s background-color;
}

footer button:hover {
  background-color: #e4254b;
  cursor: pointer;
}
